
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

nav {
    background: #F8F7F3;
    height: 80px;
    width: 100%;
}

label.logo {
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-size: 36px;
    color: #2C3E50;
    line-height: 80px;
    padding: 0 50px;
}


.text-primary {
    color: #ED6436 !important;
}

nav ul {
    float: right;
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a {
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-size: 30px;
    color: #2C3E50;
    text-decoration: none;
    padding: 7px 13px;
    border-radius: 3px;
}

a.active, a:hover {
    background: #2ED573;
    border-radius: 15px;
    transition: .5s;
    color: #ffffff;
}

.checkBtn {
    font-size: 30px;
    color: #ED6436;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

@media (max-width: 952px) {
    label.logo {
        font-size: 30px;
        padding-left: 50px;
    }

    nav ul li a {
        font-size: 16px;
    }
}

@media (max-width: 858px) {
    .checkBtn {
        display: block;
    }

    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #E8F0EE;
        top: 80px;
        left: -120%;
        text-align: center;
        transition: all .5s;
    }

    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    nav ul li a {
        font-size: 20px;
    }

    a:hover, a.active {
        background: none;
        color: #FF6348;
    }

    #check:checked ~ ul {
        left: 0;
    }
}

.img {
    background: url("/navigazteBar/background.png") no-repeat;
    background-size: cover;
    height: calc(100vh - 80px);
}